<!-- Generated template for the FwWritePanelComponent component -->
<div class="m-write-container" padding>
  <div class="write-input-box">
    <ion-textarea #textAreaRef
                  class="blog-text"
                  placeholder="写评论..."
                  [(ngModel)]="textContent"
                  (keydown)="validMaxWord($event)"
                  name=""  cols="30" rows="2"
                  [maxlength]="maxWordCount"
                  style="">
    </ion-textarea>
  </div>
  <div style="width: 4rem" text-center>
    <div style="margin-bottom: .5rem"><span  style="background-color: red;border-radius: 35%; padding: 1px 2px">{{maxWordCount - textContent.length}}</span></div>
    <div style="" class="text-3" (click)="send($event)">发送</div>
  </div>

</div>
