page-login {
  ion-content.content {
    background-color: $c-bg-1;
    .logoBox {
      text-align: center;
      margin-bottom: 2rem;
    }
    .loginBtnBox button {
      width: 80%;
      height: 4rem;
      margin: 0 auto;
      border-radius: 25px;
      background-color: $c-btn-1;
      color: $c-text-10;
    }
    .registerBox {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      button {
        color: $c-text-9;
      }
    }
    .footerBox {
      width: 80%;
      height: 100px;
      border-top: 1px solid $c-br-0;
      margin: 12vh auto 0;
      span {
        width: 150px;
        display: inline-block;
        font-family: PingFang-SC-Medium, serif;
        font-size: 16px;
        color: $text1;
        background-color: $bg0;
        padding: 0 10px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .thirdPartyLoginBox {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
