page-register {
  ion-content.content {
    background-color: $bg0;
    .login-list .login-list-item:nth-of-type(4) {
      margin-bottom: 5px;
    }
    .logoBox {
      text-align: center;
      margin-bottom: 2rem;
    }
    button.button.getVerificationCode {
      color: $text6;
    }
    .GVRP {
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      ion-checkbox.checkbox {
        margin-right: 1rem;
        .checkbox-icon {
          border-radius: 0;
        }
      }
      button.button {
        margin: 0;
        padding: 0;
        color: $c-text-9;
      }
    }
    .loginBtnBox button {
      width: 80%;
      height: 4rem;
      margin: 0 auto;
      border-radius: 25px;
      background-color: $c-btn-1;
      color: $c-text-10;
    }
    .goLoginText {
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      button.button {
        color: $c-text-9;
      }
    }
  }
}
