<!--<ion-list>
    <ion-item>
      <div style="display: flex;flex-direction: column">
        <div style="display: flex;align-items: center;justify-content: space-between">
          <ion-avatar item-start>
            <img [src]="item.profilePic" />
          </ion-avatar>
          Herbology
          <ion-icon name="ios-arrow-down" item-end ></ion-icon>
        </div>
        <div>
        </div>
      </div>
    </ion-item>
</ion-list>-->

<ion-grid>
  <ion-row  *ngFor="let item of currentItems">
    <ion-col col-12>
        <div class="item item-block item-md list-head" style="padding-left:0">
          <img [src]="item.profilePic"/>
          <div class="head-title">
            <div>我是特朗普总统</div>
            <span>2天前 19:35</span>
          </div>
          <ion-icon name="ios-arrow-down" item-end (click)="openListEditPopover($event)"></ion-icon>
        </div>
    </ion-col>

    <ion-col col-12 (click)="openItem(item)">
      <p style="margin: 0">
        据中央纪委国家监委网站客户端消息,吉林省纪委监委坚决贯彻落
        实中央领导指示精神和省委部署,高度关注长春长生生物科技有限
        责任公司疫苗事件,要求对疫苗事件涉及到的责任者...<a href="#" style="margin-left: 5px" (click)="showAllText($event)">全文</a>
      </p>
    </ion-col>
    <ion-row col-12  class="footer-icon">
      <ion-col col-3 text-center *ngFor="let iconItem of iconList" (click)="doListOperation(iconItem)">
        <ion-icon name="{{iconItem.icon}}"></ion-icon>
        <span>{{iconItem.title}}</span>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-grid>
