page-blog-forward {
  .blog-box{
    display: flex;
    align-items: flex-start;
    background-color: $c-bg-3;
    margin: 0 16px;
    padding: 4px;
    h2{
      margin: 0 !important;
      padding: 0 !important;
    }

  }
  img{
    width: 22vw !important;
    height: 22vw !important;
    border-radius: 0 !important;
  }
  .item-ios{
    background-color: transparent;
  }
  .item.item-ios .checkbox-ios{
    margin: 0 !important;
  }
  .text-3{
    margin-left: 4px;
    font-size: 1.4rem;
  }
}
