<ion-header>

  <ion-navbar>
    <ion-title>微博发布</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          按钮
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          按钮
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <label for="blog-text"></label>
    <textarea #textAreaRef class="blog-text" name="" id="blog-text" cols="30" rows="10" padding></textarea>

    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />

    <div class="image-group-box" padding>
      <div *ngFor="let img of imageList" class="image-item">
        <span class="close-box close" (click)="removeCurImg(img)"></span>
        <!--<div class="img-bg" [style.backgroundImage]="getProfileImageStyle(img)"></div>-->
        <img class="img-bg" [src]="img" alt="">
      </div>
      <ng-container  *ngIf="imageList.length<9">
        <div class="profile-image-wrapper image-item" (click)="openSheets()">
          <div>
            <ion-icon name="add"></ion-icon>
          </div>
          <!--<div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>-->
        </div>
      </ng-container>

    </div>

  </form>
</ion-content>
