fw-follow-btn {
  .btn{
    background-color: transparent !important;
    border: 1px solid $c-text-4;
    color: $c-text-4 !important;
    margin: 0 !important;
    padding: 0 0.5em;
    height: 24px;
    font-size: 1.3rem;
  }
}
