page-new-password {
  ion-header.header {
    .toolbar-background {
      background-color: $bg2;
    }
    ion-title.title .toolbar-title {
      font-family: PingFang-SC-Bold, serif;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 40px;
      letter-spacing: 0px;
      color: $text4;
    }
  }
  ion-content.content {
    background-color: $bg0;
    margin-top: 4rem;
    .list {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      .list-item {
        height: 4rem;
        display: flex;
        align-items: center;
        border-radius: 25px;
        margin-bottom: 20px;
        padding-left: 20px;
        background-color: $bg1;
        input, input::-webkit-input-placeholder, button.button {
          color: $text0;
        }
      }
      button.button.getVerificationCode {
        color: $text6;
      }
    }
    .loginBtnBox button {
      width: 80%;
      height: 4rem;
      margin: 0 auto;
      border-radius: 25px;
      background-color: $btn0;
      color: $text7;
    }
    ion-img {
      background: none;
    }
  }
}
