// -------- 1 背景色系  -----------
$bg0: #1f2532; // 背景色
$bg1: #171d28; // input 背景色
$bg2: #2c3343; // ion-header 背景色
// --------1 文本颜色
$text0: #505a70; // input placeholder颜色
$text1: #505a70;
$text2: #5d77ae;
$text3: #596f9e; // subhead 颜色
$text4: #dbdbdb; // ion-header 文本色
$text5: #aab5bd; // 返回按钮文本颜色
$text6: #5377da; // input框内文字
$text7: #bec5d3; // 点击按钮文字颜色
;
// -------- 3 按钮色系  -----------
$btn0: #313a4e;

// 边框颜色
$br0: #2e3641;
