/* del ----------待删除 start ------------------ */
// -------- 1 背景色系  -----------
$bg0: #1d1f22; // 背景色
$bg1: #171d28; // input 背景色
$bg2: #2a2d32; // ion-header 背景色
$bg3: #1c1f24; // searchBar 背景色
// --------1 文本颜色
$text0: #505a70; // input placeholder颜色
$text1: #505a70;
$text2: #5d77ae;
$text3: #596f9e; // subhead 颜色
$text4: #dbdbdb; // ion-header 文本色
$text5: #aab5bd; // 返回按钮文本颜色
$text6: #5377da; // input框内文字
$text7: #7e848b; // 点击按钮文字颜色
$text8: #74797e; // searchBar文本颜色
;
// -------- 3 按钮色系  -----------
$btn0: #313a4e;
// 边框颜色
$br0: #2e3641;
$br1: #292a2b;
$br2: #7389ba; // 我的 粉丝 关注 博文上边框
/* del ----------- 待删除 end ----------------- */

// -------- 1 背景色系  -----------
$c-bg-0: #101214; // home body 整页面底色
$c-bg-1: #181a1c; // 主要用于少数页面背景
$c-bg-2: #1d1f22; // 主要用于内容背景及搜索输入框
$c-bg-3: #2a2d32; // 主要用于头部标题栏背景, 通知背景及其他
$c-bg-4: #d7be87; // 主要用于更新提示，等其他提示信息背景
$c-bg-5: #7e848b; // 按钮描边颜色，border色
$c-bg-6: #394d7b; // 认证背景图

// -------- 2 文字色系  -----------
$c-text-0: #dbdbdb; // 正文内容文字
$c-text-1: #74797e; //输入框提示文字
$c-text-2: #7e848b; // 主要用于导航菜单文字
$c-text-3: #5c6169; // 主要用于时间等弱化文字
$c-text-4: #d7be87; // 主要用于关注按钮文字
$c-text-5: #607fc0; // 主要用于头像名称及链接文字
$c-text-6: #fff; // 高亮背景时文字颜色
$c-text-7: #ff6700; // 数字颜色
$c-text-8: #ff0000; // 红色,消息提示
$c-text-9: #5d77ae; // 登录页面 立即注册 忘记密码按钮颜色
$c-text-10: #ffffff; // login模块按钮文字颜色
// -------- 3 高亮色：主色  -----------
$c-high-light: #5377da; //高亮颜色， 按钮, 选中状态icon背景色, 特别强调和突出的文字, 组件激活或选中状态颜色

// -------- 4 按钮色系  -----------
$c-btn-0: #3c4451;  // 按钮颜色
$c-btn-1: linear-gradient(90deg, #4465bf 0%, #557bd0 100%), linear-gradient(#3c4451, #3c4451); // 登录模块按钮背景

// -------- 5 边框颜色  -----------
$c-br-0: #2e3641;
$c-br-1: #292a2b; // 下边框
$c-br-2: #000000; // 我的 list 中的 item 下边框
// -------- 6 提示色 ------
$c-tip-0: #595959; // 提示背景色
