/*  调整下拉箭头大小 */
.ion-ios-arrow-down:before{
  font-size: 2rem;
}



/* 自定义 icon 图标 */
ion-icon{
  &.ion-ios-weibo{
    position: relative;
    &:before{display: none;}
    &:after{
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: url('/assets/imgs/weibo_login.png');
      background-size: contain;
    }
  }
  &.ion-ios-QQ{
    position: relative;
    &:before{display: none;}
    &:after{
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: url('/assets/imgs/QQ_login.png');
      background-size: contain;
    }
  }

}
