<ion-header>
    <ion-card>
      <ion-card-content *ngIf="!userId">
        <ion-avatar (click)="userId = 1" class="img-center"> <img src="../../assets/imgs/default-user-icon.png"></ion-avatar>
        <ion-item text-center (click)="goLogin()" >未登录</ion-item>
      </ion-card-content>
      <ion-card-content *ngIf="userId">
        <ion-avatar float-left (click)="userId = 1" class="user-img"> <img src="../../assets/imgs/default-user-icon.png"></ion-avatar>
        <ion-item  float-right class="user-card">
          <div class="setting-style" (click)="presentModal()">
            <ion-icon float-right>
              <img src="../../assets/img/user/setting-icon.png">
            </ion-icon>
          </div>
          <div>
            大黄蜂
          </div>
          <div>国服第一猴子,排位胜率4场0%</div>
          <div class="authentication">
            <ion-icon>
              <img src="../../assets/img/user/ok-telephone.png">
            </ion-icon>
            <ion-icon>
              <img src="../../assets/img/user/no-identity-card.png">
            </ion-icon>
            <ion-icon>
              <img src="../../assets/img/user/no-name-card.png">
            </ion-icon>
          </div>
        </ion-item>
        <div style="clear: both"></div>
      </ion-card-content>
      <ion-list>
        <div (click)="goMyArticlePage()">
          <span>0</span><br>
          文章
        </div>
        <div (click)="goMyConcernPage()">
          <span>0</span><br>
          关注
        </div>
        <div (click)="goMeFansPage()">
          <span>0</span><br>
          粉丝
        </div>
      </ion-list>
    </ion-card>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="goMyCommentRecordPage()">
      <ion-avatar item-start><img src="../../assets/img/user/my-comment-record.png"></ion-avatar>
      评论记录
      <ion-note item-end>
        <img src="../../assets/img/user/rigth-direction.png">
      </ion-note>
    </ion-item>
    <ion-item (click)="goMyStarRecordPage()">
      <ion-avatar item-start><img src="../../assets/img/user/my-star-record.png"></ion-avatar>
      我的点赞
      <ion-note item-end>
        <img src="../../assets/img/user/rigth-direction.png">
      </ion-note>
    </ion-item>
    <ion-item (click)="goMyCollectRecordPage()">
      <ion-avatar item-start><img src="../../assets/img/user/my-collect-record.png"></ion-avatar>
      收藏记录
      <ion-note item-end>
        <img src="../../assets/img/user/rigth-direction.png">
      </ion-note>
    </ion-item>
    <ion-item (click)="goMyCollectRecordPage()">
      <ion-avatar item-start><img src="../../assets/img/user/my-shared-record.png"></ion-avatar>
      分享记录
      <ion-note item-end>
        <img src="../../assets/img/user/rigth-direction.png">
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item (click)="goMyDraftListPage()">
      <ion-avatar item-start><img src="../../assets/img/user/my-draft-list.png"></ion-avatar>
      草稿箱
      <ion-note item-end>
        <img src="../../assets/img/user/rigth-direction.png">
      </ion-note>
    </ion-item>
    <ion-item (click)="goFeedback()">
      <ion-avatar item-start><img src="../../assets/img/user/feed-back.png"></ion-avatar>
      意见反馈
      <ion-note item-end>
        <img src="../../assets/img/user/rigth-direction.png">
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
