page-user {
  ion-header{
    /*背景*/
    .card{
      background: url("../../assets/img/user/user-background-icon.png");
      height: 100%;
      margin: 0;
      width: 100%;
    }
    .img-center{
      display: flex;
      justify-content: space-evenly;
      & > img{
        width: 8rem;
        height: 8rem;
      }
    }

    .user-img{
      width: 25%;
      padding-top: 2rem;
    }
    .user-card{
      width: 75%;
      .label{
        .setting-style{
          img{
            width: 3rem;
            height: 3rem;
          }
        }
        div:nth-child(2){
          font-size: 2.5rem;
          margin-top: 2rem;
          margin-bottom: 0.5rem;
        }
        div:last-child,.authentication{
          margin-top: 0.5rem;
          .icon{
            width: 3rem;
            height: 3rem;
            position: relative;
            border-radius: 50%;
            background: $c-bg-6;
            img{
              width: 2rem;
              height: 2rem;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              top: 0;
              margin: auto;
            }
          }
        }
      }
    }
    .item{
      background: transparent;
    }
    /*粉丝 关注 博文*/
    ion-list{
      border-top:1px solid $br2;
      height: 7rem;
      padding: 2rem 0;
      color: $c-text-0;
      display: flex;
      &>div{
        text-align: center;
        width: 33%;
        span{
          font-family: inherit;
          font-size: 2rem;
        }
      }
    }
  }
  ion-content{
    .list {
      margin: 1rem 0;
      & > .item-block:first-child{
        border: none;
      }
      & > .item-block:last-child{
        border: none;
      }
      .item-block .item-inner{
        border-bottom: 1px solid $c-br-2;
      }
      .item{
        height: 5rem;
        line-height: 5rem;
        background: $bg0;
        ion-note:last-child{
          padding-top: 1.5rem;
          img{
            width: 1rem;
            height: 2rem;
          }
        }

      }

    }


  }
}
