<!-- Generated template for the MessageActicleComponent component -->
<ion-content>
  <ion-grid class="tony-message-comment">
    <ion-row>
      <div class="comment-title">
        <img src="" alt="">
        <div>
          <span class="comment-title-name span-blue">名字</span>
          <span class="comment-title-time">20:15</span>
        </div>
      </div>
      <div class="comment-replay">评论特朗勃</div>
      <div class="comment-record" *ngIf="true"><span class="span-blue">@某某</span>回复@某某：1223</div>
      <div class="comment-com">
        <img src="" alt="">
        <div class="comment-news">
          <div>1士大夫</div>
          <p>2丝黛芬妮及就看到发给哦乳房考试大纲方脑壳东风风光</p>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <div class="comment-title">
        <img src="" alt="">
        <div>
          <span class="comment-title-name">名字</span>
          <span class="comment-title-time">20:15</span>
        </div>
      </div>
      <div class="comment-replay">评论特朗勃</div>
      <div class="comment-record" *ngIf="false"><span class="span-blue">@某某</span>回复@某某：1223</div>
      <div class="comment-com">
        <img src="" alt="">
        <div class="comment-news">
          <div>1士大夫</div>
          <p>2丝黛芬妮及就看到发给哦乳房考试大纲方脑壳东风风光</p>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
