page-mobile-phone-account {
  ion-list{
    display: flex;
    justify-content: space-between;
    ion-input{
      width: 70%;
      margin-right: 5%;
    }
    button{
      font-size: 1.2rem !important;
    }

  }
}
